root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.{kt,kts}]
# Самый современный стиль ktlint (kotlin lang server, official rules)
ktlint_code_style = ktlint_official
# Включаем все экспериментальные правила ktlint 1.8.0
ktlint_experimental = enabled
# Стандартные правила (все включены по умолчанию, некоторые настроены явно)
ktlint_standard_max-line-length = off
# Разрешаем trailing comma (современная идиома Kotlin)
ij_kotlin_allow_trailing_comma = true
